# Compiled class file
stage1/*.class
stage2/*.class
stage3/*.class
stage4/*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Output files
stage1/output.csv
stage2/output.csv
stage3/output.csv
stage4/output.csv

# Other files
*.Identifier
T1_ELO329_1s23.pdfZone.Identifier
